*__pycache__*
*unsued*


pre_processing
README.pdf
copy_s01.py
check_picke.py
clean_results.py
requirements_old.txt
models_evaluation.sh
test_demo.sh
disc_params.txt
train_models.sh

src/feature_selection/new_method.py
src/feature_selection/feature_selection.py
src/prediction/new_model.py
src/prediction/multi_model.py
src/normal_concat.py
src/process_edt_data.py
src/concat_data.py
src/clustering.py
src/statistical_tests.py
src/*mean_analysis*


results/prediction/models_params
